<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calendario escolar</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/dist/output.css" rel="stylesheet">
    <link href="../public/css/fontawesome-free-6.5.0-web/css/all.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% if error == 1 %}
    <div class="bg-red-500 text-white py-2 px-4">
        Ha habido un error en la ejecución de la última petición, inténtalo de nuevo.
    </div>
    {% endif %}
    <div class="text-center py-4 bg-gray-800 text-white">
        <h1 class="text-xl font-bold">Calendario escolar</h1>
        <div class="flex justify-center space-x-4 mt-2">
            {% if loggedin %}
                <a href="../Usuario/logout" class="hover:text-gray-300">Cerrar sesión</a>
                <a href="../Usuario/showAdmin" class="hover:text-gray-300">Administrar usuarios</a>
                <a href="../Usuario/showAdminNewsletter" class="hover:text-gray-300">Administrar notificaciones</a>
                <a href="../Usuario/showAdminAsignaturas" class="hover:text-gray-300">Administrar asignaturas</a>
            {% else %}
                <a href="../Usuario/showLogin" class="hover:text-gray-300">Acceso administrador</a>
                <a href="../Usuario/showNewsletter" class="hover:text-gray-300">Registrarse en la newsletter</a>
            {% endif %}
            <a href="../Evento/exportarEventos" class="hover:text-gray-300">Exportar calendario</a>
        </div>
    </div>
    <div class="container mx-auto mt-6 flex">
        <!-- Columna de Visualizador de Eventos -->
        <div class="w-2/6 p-4 bg-gray-200 rounded-md mr-2">
        <div class="flex items-center justify-between">
            <a href="?fecha={{ prevMonth }}" class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600">&lt;</a>
            
            <h2 class="text-center text-2xl font-semibold">
                {{ nombreMes(calendar.format('Y-m-25')) }} {{ calendar.format('Y') }}
            </h2>
            
            <a href="?fecha={{ nextMonth }}" class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600">&gt;</a>
        </div>

        <div id="eventViewer" class="mt-4">
            <h4 class="text-lg">Selecciona un evento para mostrarlo</h4>
        </div>
        {% if loggedin %}
                <div class="mt-4 flex justify-center">
                    <a href="../Evento/showAgregarEvento" class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600 inline-block text-center mx-2">Añadir</a>
                    <a id="modificar-btn" href="../Evento/listarEventos" class="px-4 py-2 bg-gray-300 text-white rounded hover:bg-gray-600 inline-block text-center mx-2 cursor-not-allowed">Modificar</a>
                    <a id="eliminar-btn" href="../Evento/listarEventos" class="px-4 py-2 bg-gray-300 text-white rounded hover:bg-gray-600 inline-block text-center mx-2 cursor-not-allowed">Eliminar</a>
                </div>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const modificarBtn = document.getElementById('modificar-btn');
                        const eliminarBtn = document.getElementById('eliminar-btn');

                        const eventList = document.getElementById('eventosPorFecha');
                        if (eventList && modificarBtn && eliminarBtn) {
                            eventList.addEventListener('change', function () {
                                if (this.value) { // Si se ha seleccionado un evento
                                    modificarBtn.classList.replace('bg-gray-300', 'bg-gray-700');
                                    eliminarBtn.classList.replace('bg-gray-300', 'bg-gray-700');
                                    modificarBtn.classList.remove('cursor-not-allowed');
                                    eliminarBtn.classList.remove('cursor-not-allowed');
                                } else { // Si no se ha seleccionado ningún evento
                                    modificarBtn.classList.replace('bg-gray-700', 'bg-gray-300');
                                    eliminarBtn.classList.replace('bg-gray-700', 'bg-gray-300');
                                    modificarBtn.classList.add('cursor-not-allowed');
                                    eliminarBtn.classList.add('cursor-not-allowed');
                                }
                            });
                        }
                    });
                </script>
            {% endif %}

    </div>


    <!-- Columna de Calendario -->
    <div class="w-5/6 rounded-lg overflow-hidden">
        <table class="table-auto w-full text-center border-collapse">
            <tr>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Lunes</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Martes</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Miércoles</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Jueves</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Viernes</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Sábado</th>
                <th class="px-4 py-2 border bg-gray-300 table-cell">Domingo</th>
            </tr>
            {% for fecha in dias %}
                {% set day = fecha|date('Y-m-d') %}
                {% set today = "now"|date('Y-m-d') %}
                {% if loop.index0 % 7 == 0 %}
                    {% if not loop.first %}
                        </tr>
                    {% endif %}
                    <tr>
                {% endif %}
                <td class="{{ day|date('m') != calendar|date('m') ? 'bg-gray-200' : 'bg-gray-100' }} border px-4 align-baseline py-2 table-cell w-28 h-28">
                    <span class="{{ day == today ? 'text-red-500 font-bold' : (day|date('m') != calendar|date('m') ? 'text-gray-600' : 'text-black') }}">
                        {{ day|date('j') }}
                    </span>
                    {% if eventosPorFecha[day] %}
                        <div class="mt-2">
                            {% for evento in eventosPorFecha[day] %}
                                <button onclick="mostrarEvento(this)"
                                    data-id-evento="{{ evento.id }}"
                                    data-nombre="{{ evento.nombre|e }}"
                                    data-abreviatura="{{ evento.abreviatura_asignatura|e }}"
                                    data-descripcion="{{ evento.descripcion|e }}"
                                    data-nombre_asignatura="{{ evento.nombre_asignatura|e }}"
                                    {% set dias = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'] %}
                                    {% set meses = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'] %}
                                    data-fecha="{{ dias[evento.fecha|date('w')] }}, {{ evento.fecha|date('j') }} de {{ meses[evento.fecha|date('n') - 1] }} de {{ evento.fecha|date('Y') }}"
                                    data-anotaciones="{{ evento.anotaciones|e }}"
                                    data-usuario="{{ evento.nombre_usuario|e }}"
                                    class="text-xs font-bold bg-gray-700 text-white rounded py-1 px-1 mb-1">
                                    {{ evento.abreviatura_asignatura|e }}
                                </button>
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
                {% if loop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

<script>
    function mostrarEvento(button) {
        const nombre = button.getAttribute('data-nombre');
        const idEvento = button.getAttribute('data-id-evento');
        const abreviatura = button.getAttribute('data-abreviatura');
        const fecha = button.getAttribute('data-fecha');
        const nombre_asignatura = button.getAttribute('data-nombre_asignatura');
        const anotaciones = button.getAttribute('data-anotaciones');
        const usuario = button.getAttribute('data-usuario');

        const eventViewer = document.getElementById('eventViewer');
        eventViewer.innerHTML = `
            <h4 class="text-xl">Evento seleccionado</h4>
            <p><i class="fa-solid fa-calendar-days"></i> ${fecha}</p>
            <p><i class="fa-solid fa-graduation-cap"></i> ${nombre_asignatura}</p>
            <p><i class="fa-solid fa-book"></i> ${nombre}</p>
            ${anotaciones ? `<p><i class="fa-solid fa-file"></i> ${anotaciones}</p>` : ''}
            ${usuario ? `<p><i class="fa-solid fa-user"></i> ${usuario}</p>` : ''}
        `;

        const modificarBtn = document.getElementById('modificar-btn');
        const eliminarBtn = document.getElementById('eliminar-btn');

        if (modificarBtn && eliminarBtn) {
            if (nombre) { // Si se ha seleccionado un evento
                modificarBtn.classList.replace('bg-gray-300', 'bg-gray-700');
                eliminarBtn.classList.replace('bg-gray-300', 'bg-gray-700');
                modificarBtn.classList.remove('cursor-not-allowed');
                eliminarBtn.classList.remove('cursor-not-allowed');

                // Actualizar el href con el id del evento
                modificarBtn.href = `../Evento/showModificarEvento?evento=${idEvento}`;
                eliminarBtn.href = `../Evento/showEliminarEvento?evento=${idEvento}`;
            } else { // Si no se ha seleccionado ningún evento
                modificarBtn.classList.replace('bg-gray-700', 'bg-gray-300');
                eliminarBtn.classList.replace('bg-gray-700', 'bg-gray-300');
                modificarBtn.classList.add('cursor-not-allowed');
                eliminarBtn.classList.add('cursor-not-allowed');

                // Restaurar los href a sus valores originales
                modificarBtn.href = '../Evento/listarEventos';
                eliminarBtn.href = '../Evento/listarEventos';
            }
        }
    }
</script>
<br>
</body>
</html>